{#
Використовую unit зі своєї першої лабораторної роботи
Але на відміну від першої, на цей раз додав Requires
#}
[Unit]
Description=SampleSpringServer
Requires=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/java -jar {{ app_dir }}/{{ app_file }}
Environment=PORT={{ app_port }}
Restart=always
RestartSec=10
User={{ ansible_user_id }}
